body {
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}
h2 {
  margin-bottom: 40px;
  font-size: 1.6em;
  font-weight: bold;
}
h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}
.navbar-brand {
  height: 60px;
}
.navbar-brand h1 {
  margin-top: 0;
  color: #000;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1;
}
.navbar-default, .navbar-collapse {
  background-color: #d7d7d7;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #000;
}
.navbar-default .navbar-collapse {
  border-bottom: 0;
}
#nav-list {
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  margin-bottom: 0;
}
#nav-list a {
  background-color: #ccdee0;
  color: #000;
}
#nav-list a:hover {
  background-color: #e1eeef;
}
#nav-list hr {
  margin: 0 auto;
  width: 99%;
  border-top: 1px solid #000;
}
.navbar-default .navbar-toggle.collapsed {
  border-color: #000;
  border-width: 2px;
  margin-top: 12px;
}
.navbar-default .navbar-toggle.collapsed .icon-bar {
  background-color: #000;
}
.navbar-default .navbar-toggle{
   border-color: #fff;
   border-width: 2px;
   margin-top: 12px;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color:#fff;
}
section {
  background-color: #d7d7d7;
  width: 100%;
  margin: 0 auto 15px;
  padding: 15px;
  border: 2px solid #000;
}
p {
  margin: 10px 0;
  padding: 0 10px;
}
